
<!--Details Page Header-->
<div *ngIf="page.Level > 1"
     class="details-page-header">
    <table>
        <tr>
            <td><a class="float-left" (click)="onNavBack()"><i class="fas fa-chevron-left"></i></a></td>
            <td>{{page.Title}}</td>
        </tr>
    </table>
</div>

<!--Main Page Header-->
<nav *ngIf="page.Level == 1"
     class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand"  href="/">
        <img title="VEXIT" src="/_vexit/img/logo.png" width="100">
    </a>
    <div class="nav-title">{{page.Title}}</div>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [ngClass]="{ 'active': page.Name == 'home'}">
                <a class="nav-link" href="#/" (click)="onMenuItemClick($event, 'home')">Home</a>
            </li>
            <li class="nav-item" [ngClass]="{ 'active': page.Name == 'crypto'}">
                <a class="nav-link" href="#/crypto" (click)="onMenuItemClick($event, 'crypto')">Crypto</a>
            </li>
            <li class="nav-item" [ngClass]="{ 'active': page.Name == 'movies'}">
                <a class="nav-link" href="#/movies" (click)="onMenuItemClick($event, 'movies')">Movies</a>
            </li>
            <li class="nav-item" [ngClass]="{ 'active': page.Name == 'guestbook'}">
                <a class="nav-link" href="#/guestbook" (click)="onMenuItemClick($event, 'guestbook')">Guestbook</a>
            </li>

            <!--<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown01"
           data-toggle="dropdown"
           aria-haspopup="true"
           aria-expanded="false">Apps</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item menu-item" href="#/crypto"  (click)="onMenuItemClick($event)">Crypto</a>

        </div>
    </li>-->
        </ul>
    </div>
</nav>


<div class="app-body container" style="margin-top:70px;">
    <!--<app-menu></app-menu>-->

    <loading-overlay *ngIf="loadingOverlay.show" [overlay]="loadingOverlay"></loading-overlay>

    

    <router-outlet></router-outlet>

</div>

