.details-page-header { height:50px; width:100%; background-color:#000; color:#fff;}
.details-page-header table td { color:#fff; text-align:center; height:49px;}
.details-page-header table td a { display:block; height:100%; color:#fff;  padding:.5em; padding-top:10px;}
.details-page-header table td a:hover { color:lime;  text-decoration:none; background-color:#333; cursor:pointer;}
.details-page-header table td:last-child { width: 100%; }