<!-- Base Currency -->
<div class="form-group" *ngIf="data.currencies">
    <label>Base Currency</label>
    <select class="form-control"
            [ngModel]="data.currencySelected"
            (ngModelChange)="onBaseCurrencyChange($event)">
        <option *ngFor="let c of data.currencies"
                [ngValue]="c">
            {{c.code}} - {{c.name}}
        </option>
    </select>
</div>

<hr />

<!-- Rows per page -->
<div class="row" *ngIf="data.coinDataPage.Data.length > 0">
    <div class="col-md-4 offset-md-8 text-right">
        Rows per page: &nbsp;
        <select class="float-right"
                [ngModel]="data.coinDataPage.Size"
                (ngModelChange)="onPageSizeChange($event)">
            <option [value]="5">5</option>
            <option [value]="10">10</option>
            <option [value]="15">15</option>
            <option [value]="20">20</option>
        </select>
    </div>
</div>

<hr />

<!-- Grid - Messages -->
<div class="row data-row"
     *ngFor="let item of data.coinDataPage.Data; let index =index; let isOdd=odd; let isEven=even;"
     [class.odd]="isOdd"
     [class.even]="isEven"
     [class.active]="item === selectedItem"
     (click)="onDataItemSelected(item)">

    <div class="col text-center">
        <img [src]="item.ImageUrl" [title]="item.CoinName" /><br />
        <span class="subscript">{{ item.CoinName}}</span>
    </div>
    <div class="col text-left">
        {{ item.BaseSymbol }} {{ item.BasePrice }}
    </div>
</div>

<hr />

<!-- Pager -->
<div class="text-center">
    <pager [totalItems]="data.coinDataPage.Total"
           [page]="data.coinDataPage.PageNumber"
           [itemsPerPage]="data.coinDataPage.Size"
           [pagesToShow]="data.coinDataPage.PagesToShow"
           (onPageChange)="onPageChange($event)">
    </pager>
</div>
